/* Styling for navigation bar */

body {
  margin: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #F3F3F3;
  background-image: url("/static/img/foody.png");
  background-repeat: repeat;
}

img {
  box-shadow: 0 2px 10px -1px rgba(0,0,0,10);
}

#food-pic1 {
  display: flex;
  justify-content: center;
}

#burger-con {
  box-shadow: none;
  filter: drop-shadow(2px 4px 4px rgba(0,0,0,5));
}

/* Navigation Bar */
.topnav {
  padding: 10px;
  overflow: hidden;
  background-color: #955277;
  box-shadow: 0 2px 10px -1px rgba(0,0,0,10);
}

nav {
  max-width: 1720px;
  margin: 0 auto;

  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-areas:
    "left-menu logo login-container";
}

.left-menu {
  grid-column: 1;
}
.logo {
  grid-column: 2;
}
.login-container {
  grid-column: 3;
}

#login, #logout {
  display: block;
  float: right;
}

#nav-toggle, .burger-menu {
  display: none;
}

/* Links go to the left side of nav bar */
#home, #about, #contact, #my-faves {
  display: block;
  float: left;
  color: white;
  padding: 14px 14px;
  text-decoration: none;
  font-size: 23px;
}

/* Hovering over a link in the nav bar */
.topnav #home:hover, #about:hover, #contact:hover, #my-faves:hover {
  color: black;
  transition: 0.3s;
  opacity: 1;
}
/* This part is for an active link in the nav bar */
.topnav .logo {
  background-color: #955277;
  text-align: left;
  font-size: 20px;
  margin-bottom: 0px;
  padding: 0px;
}

.logo1 {
  box-shadow: none;
}

/* Button styling */
input[type=submit], button, a.links {
  background-color: #fbeee0;
  border: 2px solid black;
  border-radius: 30px;
  box-shadow: black 4px 4px 0 0;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 5px 5px;
}

input[type=submit]:hover, button:hover, a.links:hover {
  background-color: white;
}

input[type=submit]:active, button:active {
  box-shadow: black 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  input[type=submit], button, a.links {
    min-width: 120px;
    padding: 0 25px;
  }
}

input[type=text], input[type=password] {
  line-height: 30px;
  text-align: center;
  font-size: 14px;
}

/* This part is for grid for web and mobile screens */
.bodycontainer {
  display: grid;
  height: 180vh;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr;
  grid-template-areas:
    "block1"
    "block2";
}

#block1 {
  grid-area: block1;
}
#block2 {
  grid-area: block2;
  padding-left: 20px;
  padding-right: 20px;
}

#search-field, #block2, #welcome, #contactt, .bookmark-grid, #create-acct {
  background-color: #F3F3F3;
  box-shadow: 0 2px 10px -1px rgba(0,0,0,10);
  margin: 10px;
}

.block1B {
  display: grid;
  height: 25vh;
  grid-template-columns: 1fr 618px 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
    ". search-field ."
}

#search-field {
  grid-area: search-field;

}
#food-pic1 {
  grid-area: food-pic1;
}

.bookmark-grid {
  padding-top: 20px;
  padding-left: 20px;
  display: grid;
  height: 25vh;
  width: 60vh;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "bookmarklist"
    "edit-mode"
}

#bookmarklist {
  grid-area: bookmarklist;
}
#edit-mode {
  grid-area: edit-mode;
}

#welcome {
  padding: 10px;
  display: grid;
  height: 45vh;
  width: 50vh;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "welcome"
}

#welcome {
  grid-area: welcome;
}

.contact-grid {
  display: grid;
  height: 20vh;
  width: 95vh;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "contactt"
}

#contactt {
  grid-area: contactt;
  padding-left: 10px;
  height: 20vh;
}

.create-grid {
  display: grid;
  height: 20vh;
  width: 95vh;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "create-acct"
}

#create-acct {
  grid-area: create-acct;
  padding: 20px;
  height: 35vh;
}

.inner-block2A {
  display: grid;
  height: 35vh;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
    "pic1 pic2 pic3";
  grid-gap: 0.2rem;
}

#pic1 {
    grid-area: pic1;
}
#pic2 {
    grid-area: pic2;
}
#pic3 {
    grid-area: pic3;
}

@media only screen and (max-width: 1420px) {
  .inner-block2A {
    height: 100vh;  
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "pic1"
    "pic2"
    "pic3"
  }

  #pic1, #pic2, #pic3 {
    display: flex;
    justify-content: center;
  }
  
  .bodycontainer {
    display: grid;
    height: 250vh;
    grid-template-columns: 1fr;
    grid-template-rows: 0.3fr 1fr;
    grid-template-areas:
      "block1"
      "block2";
    }

  .burger-menu {
    display: inline-block;
  }

  .left-menu {
    display: none;
  }

  #nav-toggle:checked ~ .left-menu {
    display: grid;
    grid-row: 2;
  }

}



legend {
  font-size: 25px;
  font-weight: 600;
}

#bookmarklist {
  font-size: 18px;
}