<!doctype html>
<html>
  
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    
    <title>
      {% block title %}{% endblock %}
    </title>
    
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <!-- Custom styles -->
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    
    {% block head %}{% endblock %}
  </head>

  <body>
    <div class="topnav">
      <nav>

        <input type="checkbox" id="nav-toggle">
        <label for="nav-toggle" class="burger-menu">
          <img id="burger-con" src="/static/img/burger-50px.png" alt="">
        </label>
        
        <div class="left-menu">
          <a id="home" href="/">home</a>
          <a id="about" href="/about">about</a>
          <a id="contact" href="/contact">contact</a>
      
          {% if session['logged_in_user_id'] is not defined %}
          <a id="my-faves" href="/user-favorites" style="display: none">bookmarks</a>
          {% else %}
          <a id="my-faves" href="/user-favorites">bookmarks</a>
          {% endif %}
        
        </div>
        
        <a class="logo" id="logo" href="/"> <img class="logo1" src="/static/img/main-logo2.JPG"></a>
        
        {% if session['logged_in_user_id'] is not defined %}
        <div class="login-container">
          <form id="login" action="/login" method="POST">
            <input type="text" id="email" name="email" placeholder="Enter E-mail" value="test@test.com">
            <input type="password" id="password" name="password" placeholder="Enter Password" value="test">
            <input type="submit" value="Log In">
          </form>
  
          <form id="logout" action="/logout" hidden>
            <input type="submit" value="Log Out">
          </form>
        </div>
          
        {% else %}
        <div class="login-container">
          <form id="login" action="/login" method="POST" hidden>
            <input type="text" id="email" name="email" placeholder="Enter E-mail" value="test@test.com">
            <input type="password" id="password" name="password" placeholder="Enter Password" value="test">
            <input type="submit" value="Log In">
          </form>
  
          <form id="logout" action="/logout">
            <input type="submit" value="Log Out">
          </form>
        </div>
        {% endif %}
      
      </nav>
    </div>


    <!-- Using DOM to show "flash messages" -->
    <!-- <div>
      <p style="text-align:right" id="stat-message" value=""></p>
    </div> -->
    <!-- <img id="wood" src="/../static/img/pexels-lukas-349610.jpg" alt=""> -->
    {% block body %}{% endblock %}
    
    {% block after_body %}{% endblock %}

    <!-- <script src="/static/js/login.js"></script> -->
    <script src="/static/js/burger-bite.js"></script>
  </body>
</html>