<!doctype html>
<html>
  
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    
    <title>
      {% block title %}{% endblock %}
    </title>
    
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    
    {% block head %}{% endblock %}
  </head>

  <body>
    <nav class="topnav">
      <div class="row">
        <div class="col-6">
          
          <a class="active" href="/"> <img class="logo" src="/static/img/main-logo2.JPG"></a>
          <a href="/">home</a>
          <a href="/about">about</a>
          <a href="/contact">contact</a>
          
          {% if session['logged_in_user_id'] is not defined %}
          <a id="my-faves" href="/user-favorites" style="display: none">bookmarks</a>
        
          {% else %}
          <a id="my-faves" href="/user-favorites">bookmarks</a>

          {% endif %}
        </div>

        <div class="col-6">
        {% if session['logged_in_user_id'] is not defined %}
          <div class="login-container">
            <form id="login" action="/login" method="POST">
              <input type="text" id="email" name="email" placeholder="Enter E-mail" value="test@test.com">
              <input type="password" id="password" name="password" placeholder="Enter Password" value="test">
              <input type="submit" value="Log In">
            </form>

            <form id="logout" action="/logout" hidden>
              <input type="submit" value="Log Out">
            </form>
          </div>
        
        {% else %}
          <div class="login-container">
            <form id="login" action="/login" method="POST" hidden>
              <input type="text" id="email" name="email" placeholder="Enter E-mail" value="test@test.com">
              <input type="password" id="password" name="password" placeholder="Enter Password" value="test">
              <input type="submit" value="Log In">
            </form>

            <form id="logout" action="/logout">
              <input type="submit" value="Log Out">
            </form>
          </div>
        {% endif %}
        </div>
      </div>    
    </nav>

    <!-- Using DOM to show "flash messages" -->
    <div>
      <p style="text-align:right" id="stat-message" value=""></p>
    </div>
    
    {% block body %}{% endblock %}
    
    {% block after_body %}{% endblock %}

    <script src="/static/js/login.js"></script>
  </body>
</html>