<!doctype html>
<html>
  
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    
    <title>
      {% block title %}{% endblock %}
    </title>

    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    {% block head %}{% endblock %}
  </head>


  <body>
    <h1>f o o d i e  g u i d e</h1>
      <p>Serving the ultimate resource so you don't get hangry.</p>


    <!-- Using DOM to show "flash messages" -->
    <div>
      <p id="stat-message" value=""></p>
    </div>
    
    {% block body %}{% endblock %}
    
    {% block after_body %}{% endblock %}
  
  </body>
</html>