{% extends 'base.html' %}
{% block title %}.::Foodie Guide::.{% endblock %}

{% block body %}


{% if account is defined and account=="already-exists" %}
  <div>
    <p>This e-mail is already registered with another account. Try again.</p>
  </div>
{% elif account is defined and account=="create" %}
  <div>
    <p>Account created for {{user.fname}}! Return to <a href="/">home page</a> to log in.</p>
  </div>

{% endif %}


<p></p>
<div>
  <fieldset>
    <legend>Create an Account</legend>
      <form action="/create-account" method="POST">
        <P></P>
        <p>First name: <input type="text" name="fname" id="fname"></p>
        <p>Last name: <input type="text" name="lname" id="lname"></p>
        <p>E-mail: <input type="text" name="email" id="e-mail"></p>
        <p>Password: <input type="password" name="password"></p>
        <p><input type="submit" value="Create"></p>
  
      </form>
  </fieldset>
</div>

<section>
    <p>Return to <a href="/">home page</a>.</p>
</section>

{% endblock %}