{% extends 'base.html' %}
{% block title %}.::Foodie Guide::.{% endblock %}

{% block body %}


<div id="map"></div>
  <script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB41DRUbKWJHPxaFjMAwdrzWzbVKartNGg&callback=initMap&v=weekly"
  defer
></script>

<section>
  <h2>Restaurant Search</h2>
  <form id="search-form" >
    <!-- method="GET" action="/restaurant-search">  no longer needed, before AJAX was used -->
    
    <p>Enter restaurant name: <input type="text" name="rname" id="rname"></p>
    <p>Enter city: <input type="text" name="city" id="city"></p>
    <p><input type="submit"></p>
  
  </form>

  
</section>

<section>
  <div id="results-as-json">
    <h4>Results as JSON</h4>
    <pre>{{ data }}</pre>
    <b id="restaurant-result">Expect JSON Result Here</b>
  </div>
</section>

<section>
  <h3>Log In</h3>
    <form action="/login" method="POST">
      
      <p>E-mail: <input type="text" name="email"></p>
      <p>Password: <input type="password" name="password"></p>
      <p><input type="submit"></p>
    
    </form>
  </section>

<section>
  <h3>Log Out</h3>
    <form action="/logout">
      <input type="submit" value="Log Out">
    </form>
</section>

<section>
<h4>New User? Create an account to bookmark your favorite restaurants!</h4>
  <form action="/users" method="POST">
    
    <p>First name: <input type="text" name="fname"></p>
    <p>Last name: <input type="text" name="lname"></p>
    <p>E-mail: <input type="text" name="email"></p>
    <p>Password: <input type="password" name="password"></p>
    <p><input type="submit"></p>
  
  </form>
</section>


<script src="/static/js/yelp.js"></script>
{% endblock %}