{% extends 'base.html' %}
{% block title %}.::Foodie Guide::.{% endblock %}

{% block body %}

{% if session['logged_in_user_id'] is not defined %}
<div id="newuser" style="text-align:right">New User? Bookmark your favorite restaurants and <a href="/create-account">create an account</a>!</div>
{% endif %}

<p></p>
<div class="grid">
<div>
  <fieldset>
    <legend>Restaurant Search</legend>
      <p></p>
      <form id="search-form" >
    <!-- method="GET" action="/restaurant-search">  no longer needed, before AJAX was used -->
    
        <div>Enter restaurant name: <input type="text" name="rname" id="rname" value="Flour Box"></div>
        <p></p>
        <div>Enter city: <input type="text" name="city" id="city" value="Seattle"></div>
        <p><input type="submit" value="Search"></p>
  
      </form>
  </fieldset>
</div>

<p></p>

<!-- {% if session['logged_in_user_id'] is defined %}
<section>
  <form id="my-faves" action="/user-favorites">
    <button type="submit">My Favorites</button>
  </form>
</section>

{% else %}
<section>
  <form id="my-faves" action="/user-favorites" hidden>
    <button type="submit">My Favorites</button>
  </form>
</section>
{% endif %} -->

<section>
  <div id="business-details-results">
    <b id="title-results"></b>
    <p id="displayed">
      <img id="yelp-pic1"></img> 
      <img id="yelp-pic2"></img> 
      <img id="yelp-pic3"></img>
    </p>
    <p id="yelp-name"></p>
    <p id="yelp-address"></p>
    <p id="yelp-phone"></p>
    <p id="yelp-rating"></p>
    <p id="yelp-rev-count"></p>
    
    <b id="title-opening"></b>
    <ul id="yelp-bus-hours"></ul>
    
    <b id="title-reviews"></b>
    <ol id="yelp-rev"></ol>

    <p><a id="yelp-pro"></a></p>
  </div>
</section>


<section>
  <form id="rest-fave" action="/add-favorites" hidden>

    <input type="submit" value="Bookmark">
    <input id="hidden-rest-id" name="hidden-rest-id" type="text" hidden value="">
    <input id="hidden-rest-name" name="hidden-rest-name" type="text" hidden value="">

  </form>
</section>

</div>

<!-- {% if session['logged_in_user_id'] is not defined %}
<section>
    <form id="login" action="/login" method="POST">
      <h3>Log In</h3>
      <p>E-mail: <input type="text" id="email" name="email" value="test@test.com"></p>
      <p>Password: <input type="password" id="password" name="password" value="test"></p>
      <p><input type="submit" value="Log In"></p>
    </form>
  </section>

<section>
    <form id="logout" action="/logout" hidden>
      <h3>Log Out</h3>
      <input type="submit" value="Log Out">
    </form>
</section>

{% else %}
<section>
  <form id="login" action="/login" method="POST" hidden>
    <h3>Log In</h3>
    <p>E-mail: <input type="text" id="email" name="email" value="test@test.com"></p>
    <p>Password: <input type="password" id="password" name="password" value="test"></p>
    <p><input type="submit" value="Log In"></p>
  </form>
</section>

<section>
  <form id="logout" action="/logout">
    <h3>Log Out</h3>
    <input type="submit" value="Log Out">
  </form>
</section>
{% endif %} -->

<!-- <section>
<h4>New User? Bookmark your favorite restaurants and <a href="/create-account">create an account</a> !</h4>
</section> -->




<script src="/static/js/yelp-busdetails.js"></script>
<script src="/static/js/login.js"></script>
<script src="/static/js/bookmark.js"></script>

{% endblock %}