{% extends 'base.html' %}
{% block title %}Foodie Guide{% endblock %}

{% block body %}

<p></p>
<div class="bodycontainer">
  <div id="block1">
  
  {% if session['logged_in_user_id'] is not defined %}
    <div id="newuser" style="text-align:right;font-weight:bold;background-color:#F3F3F3">New User? Bookmark your favorite restaurants and <a href="/create-account">create an account</a>!</div>
  {% endif %}

  <div>
    <p style="text-align:right;font-weight:bold;color:blue;background-color:#F3F3F3" id="stat-message" value=""></p>
  </div>

  <div id="food-pic1">
    <img src="/static/img/pexels-1.jpg" height="400" alt="">
  </div>
    
  <p></p>
  <div class="block1B">
  
  <div id="search-field">
    <fieldset>
      <p></p>
      <legend style="text-align:center">Restaurant Search</legend>

      <form id="search-form" style="text-align:center">
        <!-- method="GET" action="/restaurant-search">  no longer needed, before AJAX was used -->
    
        <label for="restaurantName">Enter name: <input type="text" name="rname" id="rname" value="Flour Box"></label>
        <p></p>
        <label for="city">Enter city: <input type="text" name="city" id="city" value="Seattle"></label>

        <p><input type="submit" value="Search"></p>
  
      </form>
    </fieldset>
  </div>
  </div>
</div>

<!-- {% if session['logged_in_user_id'] is defined %}
<section>
  <form id="my-faves" action="/user-favorites">
    <button type="submit">My Favorites</button>
  </form>
</section>

{% else %}
<section>
  <form id="my-faves" action="/user-favorites" hidden>
    <button type="submit">My Favorites</button>
  </form>
</section>
{% endif %} -->

  <div id="block2" hidden>
    <div id="business-details-results">
      <p></p>
      <b id="title-results"></b>
      <p></p>
      <div class="inner-block2A">
        <p id="displayed">
          
          <div id="pic1">
            <img id="yelp-pic1" alt="First picture of restaurant"></img>
          </div> 
          
          <div id="pic2">
            <img id="yelp-pic2" alt="Second picture of restaurant"></img> 
          </div>
          
          <div id="pic3">
            <img id="yelp-pic3" alt="Third picture of restaurant"></img>
          </div>
        
        </p>
      </div>

      <div class="inner-block2B">
        <p id="yelp-name"></p>
        <p id="yelp-address"></p>
        <p id="yelp-phone"></p>
        <p id="yelp-rating"></p>
        <p id="yelp-rev-count"></p>
    
        <b id="title-opening"></b>
        <ul id="yelp-bus-hours"></ul>
      
        <b id="title-reviews"></b>
        <ol id="yelp-rev"></ol>

        <p><a id="yelp-pro"></a></p>
      
        <form id="rest-fave" action="/add-favorites" hidden>

          <input type="submit" value="Bookmark">
          <input id="hidden-rest-id" name="hidden-rest-id" type="text" hidden value="">
          <input id="hidden-rest-name" name="hidden-rest-name" type="text" hidden value="">
    
        </form>
      </div>
  </div>
 </div>


<!-- {% if session['logged_in_user_id'] is not defined %}
<section>
    <form id="login" action="/login" method="POST">
      <h3>Log In</h3>
      <p>E-mail: <input type="text" id="email" name="email" value="test@test.com"></p>
      <p>Password: <input type="password" id="password" name="password" value="test"></p>
      <p><input type="submit" value="Log In"></p>
    </form>
  </section>

<section>
    <form id="logout" action="/logout" hidden>
      <h3>Log Out</h3>
      <input type="submit" value="Log Out">
    </form>
</section>

{% else %}
<section>
  <form id="login" action="/login" method="POST" hidden>
    <h3>Log In</h3>
    <p>E-mail: <input type="text" id="email" name="email" value="test@test.com"></p>
    <p>Password: <input type="password" id="password" name="password" value="test"></p>
    <p><input type="submit" value="Log In"></p>
  </form>
</section>

<section>
  <form id="logout" action="/logout">
    <h3>Log Out</h3>
    <input type="submit" value="Log Out">
  </form>
</section>
{% endif %} -->

<!-- <section>
<h4>New User? Bookmark your favorite restaurants and <a href="/create-account">create an account</a> !</h4>
</section> -->

<script src="/static/js/yelp-busdetails.js"></script>
<script src="/static/js/login.js"></script>
<script src="/static/js/bookmark.js"></script>

{% endblock %}