{% extends 'base.html' %}
{% block title %}Foodie Guide{% endblock %}

{% block body %}

<p></p>
<legend>{{user.fname}}'s Bookmarked Restaurants</legend>

<div>
  <img src="/static/img/240_F_381264044_JWEQmyF4jd5rnjPYOFfkDnKb5OdV1PNA.jpg" height="300" alt="">
  <p></p>
</div>


<div class="bookmark-grid">
  <div id="bookmarklist">
      
    <ul id="user-favorite">
      {% for fav in favorites %}
        <li id="li-fav-{{fav.restaurant.restaurant_id}}"> {{ fav.restaurant.rname }} </li>
      {% endfor %}
    </ul>

    <form id="user-favorite-form" hidden>
      {% for fav in favorites %}
        <div id="rest-div-{{ fav.restaurant.restaurant_id }}">
          <input name="favorites" type="radio" id="{{ fav.restaurant.rname }}" value="{{ fav.restaurant.restaurant_id }}">
          <label for="{{ fav.restaurant.rname }}">{{ fav.restaurant.rname }}</label><br/>
        </div>
      {% endfor %}
  
      <button id="fav-cancel-button">Cancel</button>
      <button id="fav-delete-button" type="submit">Delete</button>
    </form>
  </div>

  <form id="edit-mode" action="/delete-favorite">
    <button type="submit" aria-label="Select the edit button to edit the list of bookmarked restaurants">
      Edit
    </button>
  </form>

</div>

<!-- <section>
  <p>Returning to <a href="/">home page</a>.</p>
</section> -->


<script src="/static/js/del-fave.js"></script>

{% endblock %}